@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    text-align: center;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #e0d47c5e;
    margin-top: 175px;
    box-shadow: 0px 10px 36px 16px rgba(0,0,0,0,1);
}
.game--title{
    padding-top: 80px;
    font-size: 40px;
    color: #404C1E;
    text-shadow: 1px 1px #c5c5c5fd;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 50px;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.cell{
    font-family: 'Varela Round', sans-serif;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 1px #5D801C;
    border: 1px solid #5D801C;
    cursor: pointer;
    line-height: 100px; /* Centralize verticalmente o texto na célula */
    font-size: 70px;
    text-align: center;
}
button{
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #5D801C;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    transition: 0.25s;
    background-color: #689110;
}